# Imports

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Acesso a los datos

In [ ]:
%cd "/content/gdrive/Shareddrives/Cortesanas de IA/Reto/Modelado_v2"
!ls

/content/gdrive/Shareddrives/Cortesanas de IA/Reto/Modelado_v2
antenas.csv		   NN_RetoV1.ipynb
datasets		   NN_RetoV2.ipynb
final.csv		   obtain_data_Chile.ipynb
Get_%_of_homeoffice.ipynb  spark-3.2.2-bin-hadoop3.2
Getting_model.ipynb	   spark-3.2.2-bin-hadoop3.2.tgz
HomeOffice.csv		   spark-3.2.2-bin-hadoop3.2.tgz.1
merge_data_Chile.ipynb	   SparkML.ipynb
new_train.csv

# PySpark

## Configuracion

In [ ]:
#Bibliotecas para poder trabajar con Spark
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q https://downloads.apache.org/spark/spark-3.2.2/spark-3.2.2-bin-hadoop3.2.tgz
!tar xf spark-3.2.2-bin-hadoop3.2.tgz  
#Configuración de Spark con Python
!pip install -q findspark
!pip install pyspark

#Estableciendo variable de entorno
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.2.2-bin-hadoop3.2"

#Buscando e inicializando la instalación de Spark
import findspark
findspark.init()
findspark.find()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Building dependency tree
Reading state information... Done
14 packages can be upgraded. Run 'apt list --upgradable' to see them.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

'spark-3.2.2-bin-hadoop3.2'

Now, we can import SparkSession from pyspark.sql and create a SparkSession, which is the entry point to Spark.

You can give a name to the session using appName() and add some configurations with config() if you wish.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("SparkML")\
        .getOrCreate()

In [ ]:
spark

## Loading data into Spark

In [ ]:
df = spark.read.csv("final.csv", header=True, inferSchema=True)

## Exploring Data

In [ ]:
# Show column detail
df.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- %_of_homeoffice: double (nullable = true)
 |-- Cantidad de Conexiones de internet fijas: double (nullable = true)
 |-- Numero de empresas sin ventas: double (nullable = true)
 |-- Cantidad de trabajadores en empresas sin ventas: double (nullable = true)
 |-- Numero de empresas Micro 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Micro 1: double (nullable = true)
 |-- Numero de empresas Pequeña 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Pequeña 1: double (nullable = true)
 |-- Numero de empresas Mediana 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Mediana 1: double (nullable = true)
 |-- Numero de empresas Grande 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Grande 1: double (nullable = true)
 |-- Consumo de Electricidad en Servicios Comunitarios en M$: string (nullable = true)
 |-- Consumo de Electricidad en M$: string (nullable = true)
 |-- Consumo de Electricidad Dependencias Municipales en M$: string (nullable = true)
 |-- Empresas informaticas: double (nullable = true)
 |-- Empresas no informaticas: double (nullable = true)
 |-- Trabajadores en empresas informaticas: double (nullable = true)
 |-- Trabajadores en empresas no informaticas: double (nullable = true)

In [ ]:
# Display Rows
df.show(5)

+----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|      Unnamed: 0|   %_of_homeoffice|Cantidad de Conexiones de internet fijas|Numero de empresas sin ventas|Cantidad de trabajadores en empresas sin ventas|Numero de empresas Micro 1|Cantidad de trabajadores en empresas Micro 1|Numero de empresas Pequeña 1|Cantidad de trabajadores en empresas Pequeña 1|Numero de empresas Mediana 1|Cantidad de trabajadores en empresas Mediana 1|Numero de empresas Grande 1|Cantidad de trabajadores en empresas Grande 1|Consumo de Electricidad en Servicios Comunitarios en M$|Consumo de Electricidad en M$|Consumo de Electricidad Dependencias Municipales en M$|Empresas informaticas|Empresas no informaticas|Trabajadores en empresas informaticas|Trabajadores en empresas no informaticas|
+----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|      Las Condes| 61.26060706653665|                                123359.0|                      13507.0|                                        15727.0|                   11934.0|                                      2533.0|                      6200.0|                                       17716.0|                      2102.0|                                       44293.0|                      980.0|                                      68487.0|                                              1608421.0|                     375540.0|                                             1232881.0|              32101.0|                 33332.0|                             368675.0|                                651272.0|
|        Santiago|58.401903053464885|                                171687.0|                      15587.0|                                       207904.0|                   16220.0|                                     59506.0|                      5769.0|                                       26065.0|                      1449.0|                                       52774.0|                      424.0|                                      54314.0|                                              3035099.0|                     420817.0|                                             2614282.0|              23551.0|                 47660.0|                             367621.0|                                711310.0|
|        El Monte| 59.68975311339305|                                  5635.0|                        306.0|                                          804.0|                     491.0|                                      1478.0|                       121.0|                                         386.0|                        15.0|                                         593.0|                        3.0|                                        125.0|                                               227620.0|                     227620.0|                                                   0.0|                221.0|                  1466.0|                                192.0|                                  5683.0|
|Estación Central| 59.54130366327281|                                 52799.0|                       1410.0|                                         1737.0|                    2130.0|                                       358.0|                       595.0|                                        3050.0|                       118.0|                                        6091.0|                       43.0|                                      12435.0|                                              1807185.0|                      68539.0|                                             1738646.0|               1640.0|                  6324.0|                              10333.0|                                 61895.0|
|        Recoleta| 60.14623850444746|                                 39371.0|                       2102.0|                                         2038.0|                    3161.0|                                       503.0|                      1095.0|                                        4811.0|                       353.0|                                        8464.0|                       99.0|                                       5706.0|                                               602111.0|                     183891.0|                                              417268.0|               2891.0|                 10288.0|                              25591.0|                                 52594.0|
+----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
only showing top 5 rows

In [ ]:
# Describing the columns
df.describe().show()

+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|summary|Unnamed: 0|   %_of_homeoffice|Cantidad de Conexiones de internet fijas|Numero de empresas sin ventas|Cantidad de trabajadores en empresas sin ventas|Numero de empresas Micro 1|Cantidad de trabajadores en empresas Micro 1|Numero de empresas Pequeña 1|Cantidad de trabajadores en empresas Pequeña 1|Numero de empresas Mediana 1|Cantidad de trabajadores en empresas Mediana 1|Numero de empresas Grande 1|Cantidad de trabajadores en empresas Grande 1|Consumo de Electricidad en Servicios Comunitarios en M$|Consumo de Electricidad en M$|Consumo de Electricidad Dependencias Municipales en M$|Empresas informaticas|Empresas no informaticas|Trabajadores en empresas informaticas|Trabajadores en empresas no informaticas|
+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|  count|        52|                52|                                      52|                           52|                                             52|                        52|                                          52|                          52|                                            52|                          52|                                            52|                         52|                                           52|                                                     52|                           52|                                                    52|                   52|                      52|                                   52|                                      52|
|   mean|      null|60.915447306897185|                      38336.807692307695|           2040.4038461538462|                              7114.096153846154|         2520.153846153846|                          1668.5576923076924|           864.3461538461538|                            3497.0384615384614|          207.69230769230768|                             6282.076923076923|          76.88461538461539|                            7571.846153846154|                                               944874.8|                    231342.12|                                              712747.8|   3202.4423076923076|                 7382.25|                   31498.884615384617|                       72827.36538461539|
| stddev|      null| 3.601304824749145|                        41151.7094710981|            3114.232214317166|                             28636.096466412982|         3120.266205238512|                            8209.17927500401|          1296.9344683070753|                             5046.772659135887|            391.178738468573|                             11261.62019452492|         161.31027875861633|                            16531.65154126319|                                     1174802.9545295096|             722475.674396727|                                      742650.006155645|     6367.15156067502|       8672.154586466311|                    84751.27139578563|                       141403.2186034423|
|    min|     Alhué| 46.66666666666666|                                    52.0|                         76.0|                                           69.0|                     114.0|                                        18.0|                        29.0|                                         175.0|                         5.0|                                          78.0|                        1.0|                                          5.0|                                                      -|                            -|                                                     -|                 33.0|                   360.0|                                 48.0|                                  2093.0|
|    max|     Ñuñoa| 73.49726775956285|                                171687.0|                      15587.0|                                       207904.0|                   16220.0|                                     59506.0|                      6200.0|                                       26065.0|                      2102.0|                                       52774.0|                      980.0|                                      86654.0|                                               958618.0|                      94561.0|                                               98247.0|              32101.0|                 47660.0|                             368675.0|                                711310.0|
+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+

## Preprocessing Data

In [ ]:
from pyspark.sql.functions import col
df = df.withColumn("Consumo de Electricidad en Servicios Comunitarios en M$",col("Consumo de Electricidad en Servicios Comunitarios en M$").cast('double'))
df = df.withColumn("Consumo de Electricidad en M$",col("Consumo de Electricidad en M$").cast('double'))
df = df.withColumn("Consumo de Electricidad Dependencias Municipales en M$",col("Consumo de Electricidad Dependencias Municipales en M$").cast('double'))

In [ ]:
# Show column detail
df.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- %_of_homeoffice: double (nullable = true)
 |-- Cantidad de Conexiones de internet fijas: double (nullable = true)
 |-- Numero de empresas sin ventas: double (nullable = true)
 |-- Cantidad de trabajadores en empresas sin ventas: double (nullable = true)
 |-- Numero de empresas Micro 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Micro 1: double (nullable = true)
 |-- Numero de empresas Pequeña 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Pequeña 1: double (nullable = true)
 |-- Numero de empresas Mediana 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Mediana 1: double (nullable = true)
 |-- Numero de empresas Grande 1: double (nullable = true)
 |-- Cantidad de trabajadores en empresas Grande 1: double (nullable = true)
 |-- Consumo de Electricidad en Servicios Comunitarios en M$: double (nullable = true)
 |-- Consumo de Electricidad en M$: double (nullable = true)
 |-- Consumo de Electricidad Dependencias Municipales en M$: double (nullable = true)
 |-- Empresas informaticas: double (nullable = true)
 |-- Empresas no informaticas: double (nullable = true)
 |-- Trabajadores en empresas informaticas: double (nullable = true)
 |-- Trabajadores en empresas no informaticas: double (nullable = true)

In [ ]:
df = df.na.fill(0)

In [ ]:
# Describing the columns
df.describe().show()

+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|summary|Unnamed: 0|   %_of_homeoffice|Cantidad de Conexiones de internet fijas|Numero de empresas sin ventas|Cantidad de trabajadores en empresas sin ventas|Numero de empresas Micro 1|Cantidad de trabajadores en empresas Micro 1|Numero de empresas Pequeña 1|Cantidad de trabajadores en empresas Pequeña 1|Numero de empresas Mediana 1|Cantidad de trabajadores en empresas Mediana 1|Numero de empresas Grande 1|Cantidad de trabajadores en empresas Grande 1|Consumo de Electricidad en Servicios Comunitarios en M$|Consumo de Electricidad en M$|Consumo de Electricidad Dependencias Municipales en M$|Empresas informaticas|Empresas no informaticas|Trabajadores en empresas informaticas|Trabajadores en empresas no informaticas|
+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+
|  count|        52|                52|                                      52|                           52|                                             52|                        52|                                          52|                          52|                                            52|                          52|                                            52|                         52|                                           52|                                                     52|                           52|                                                    52|                   52|                      52|                                   52|                                      52|
|   mean|      null|60.915447306897185|                      38336.807692307695|           2040.4038461538462|                              7114.096153846154|         2520.153846153846|                          1668.5576923076924|           864.3461538461538|                            3497.0384615384614|          207.69230769230768|                             6282.076923076923|          76.88461538461539|                            7571.846153846154|                                      908533.4615384615|           222444.34615384616|                                     685334.4230769231|   3202.4423076923076|                 7382.25|                   31498.884615384617|                       72827.36538461539|
| stddev|      null| 3.601304824749145|                        41151.7094710981|            3114.232214317166|                             28636.096466412982|         3120.266205238512|                            8209.17927500401|          1296.9344683070753|                             5046.772659135887|            391.178738468573|                             11261.62019452492|         161.31027875861633|                            16531.65154126319|                                      1166062.907041829|            709591.2299939098|                                     740983.2333200166|     6367.15156067502|       8672.154586466311|                    84751.27139578563|                       141403.2186034423|
|    min|     Alhué| 46.66666666666666|                                    52.0|                         76.0|                                           69.0|                     114.0|                                        18.0|                        29.0|                                         175.0|                         5.0|                                          78.0|                        1.0|                                          5.0|                                                    0.0|                          0.0|                                                   0.0|                 33.0|                   360.0|                                 48.0|                                  2093.0|
|    max|     Ñuñoa| 73.49726775956285|                                171687.0|                      15587.0|                                       207904.0|                   16220.0|                                     59506.0|                      6200.0|                                       26065.0|                      2102.0|                                       52774.0|                      980.0|                                      86654.0|                                              7051796.0|                    5087456.0|                                             4026394.0|              32101.0|                 47660.0|                             368675.0|                                711310.0|
+-------+----------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+

## Models

In [ ]:
modelsResults = [['Model','RMSE','MSE','MAE','R2']]

In [ ]:
# Imports
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.feature import VectorAssembler

In [ ]:
# Using VectorAssembler
assembler = VectorAssembler(inputCols = ['Cantidad de Conexiones de internet fijas', 'Numero de empresas sin ventas', 'Cantidad de trabajadores en empresas sin ventas', 'Numero de empresas Micro 1', 'Cantidad de trabajadores en empresas Micro 1', 'Numero de empresas Pequeña 1','Cantidad de trabajadores en empresas Pequeña 1','Numero de empresas Mediana 1','Cantidad de trabajadores en empresas Mediana 1','Numero de empresas Grande 1','Cantidad de trabajadores en empresas Grande 1','Consumo de Electricidad en Servicios Comunitarios en M$','Consumo de Electricidad en M$','Consumo de Electricidad Dependencias Municipales en M$','Empresas informaticas','Empresas no informaticas','Trabajadores en empresas informaticas','Trabajadores en empresas no informaticas'], outputCol='features')
output = assembler.transform(df)

In [ ]:
output.show()

+-----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+--------------------+
|       Unnamed: 0|   %_of_homeoffice|Cantidad de Conexiones de internet fijas|Numero de empresas sin ventas|Cantidad de trabajadores en empresas sin ventas|Numero de empresas Micro 1|Cantidad de trabajadores en empresas Micro 1|Numero de empresas Pequeña 1|Cantidad de trabajadores en empresas Pequeña 1|Numero de empresas Mediana 1|Cantidad de trabajadores en empresas Mediana 1|Numero de empresas Grande 1|Cantidad de trabajadores en empresas Grande 1|Consumo de Electricidad en Servicios Comunitarios en M$|Consumo de Electricidad en M$|Consumo de Electricidad Dependencias Municipales en M$|Empresas informaticas|Empresas no informaticas|Trabajadores en empresas informaticas|Trabajadores en empresas no informaticas|            features|
+-----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+--------------------+
|       Las Condes| 61.26060706653665|                                123359.0|                      13507.0|                                        15727.0|                   11934.0|                                      2533.0|                      6200.0|                                       17716.0|                      2102.0|                                       44293.0|                      980.0|                                      68487.0|                                              1608421.0|                     375540.0|                                             1232881.0|              32101.0|                 33332.0|                             368675.0|                                651272.0|[123359.0,13507.0...|
|         Santiago|58.401903053464885|                                171687.0|                      15587.0|                                       207904.0|                   16220.0|                                     59506.0|                      5769.0|                                       26065.0|                      1449.0|                                       52774.0|                      424.0|                                      54314.0|                                              3035099.0|                     420817.0|                                             2614282.0|              23551.0|                 47660.0|                             367621.0|                                711310.0|[171687.0,15587.0...|
|         El Monte| 59.68975311339305|                                  5635.0|                        306.0|                                          804.0|                     491.0|                                      1478.0|                       121.0|                                         386.0|                        15.0|                                         593.0|                        3.0|                                        125.0|                                               227620.0|                     227620.0|                                                   0.0|                221.0|                  1466.0|                                192.0|                                  5683.0|[5635.0,306.0,804...|
| Estación Central| 59.54130366327281|                                 52799.0|                       1410.0|                                         1737.0|                    2130.0|                                       358.0|                       595.0|                                        3050.0|                       118.0|                                        6091.0|                       43.0|                                      12435.0|                                              1807185.0|                      68539.0|                                             1738646.0|               1640.0|                  6324.0|                              10333.0|                                 61895.0|[52799.0,1410.0,1...|
|         Recoleta| 60.14623850444746|                                 39371.0|                       2102.0|                                         2038.0|                    3161.0|                                       503.0|                      1095.0|                                        4811.0|                       353.0|                                        8464.0|                       99.0|                                       5706.0|                                               602111.0|                     183891.0|                                              417268.0|               2891.0|                 10288.0|                              25591.0|                                 52594.0|[39371.0,2102.0,2...|
|            Macul| 59.12806539509537|                                 41276.0|                       1288.0|                                         1991.0|                    1656.0|                                      1056.0|                       480.0|                                        2087.0|                       144.0|                                        3856.0|                       38.0|                                       5142.0|                                               322022.0|                      34971.0|                                              287051.0|               1738.0|                  4767.0|                              18051.0|                                 44837.0|[41276.0,1288.0,1...|
|         Peñaflor|  61.9877800407332|                                 22192.0|                        981.0|                                         1963.0|                    1375.0|                                       185.0|                       350.0|                                        1251.0|                        41.0|                                        1430.0|                       16.0|                                        629.0|                                               531145.0|                      54449.0|                                              476696.0|                818.0|                  4059.0|                               1901.0|                                 13742.0|[22192.0,981.0,19...|
|         Pudahuel|  59.7819850831899|                                 61302.0|                       1827.0|                                         2001.0|                    2774.0|                                       514.0|                       745.0|                                        2869.0|                       189.0|                                        8464.0|                      103.0|                                      10078.0|                                               335143.0|                      69208.0|                                              265935.0|               2088.0|                  8664.0|                              19092.0|                                 78834.0|[61302.0,1827.0,2...|
|         La Reina| 62.19272369714847|                                 28820.0|                       1509.0|                                         2844.0|                    1650.0|                                       353.0|                       730.0|                                        1943.0|                       105.0|                                        3243.0|                       38.0|                                       3264.0|                                               663786.0|                      43019.0|                                              620767.0|               2930.0|                  4528.0|                              11896.0|                                 25326.0|[28820.0,1509.0,2...|
|            Renca|62.821141057052856|                                 29817.0|                        976.0|                                         3331.0|                    1585.0|                                       143.0|                       411.0|                                        1602.0|                       133.0|                                        4049.0|                       54.0|                                       3808.0|                                               674909.0|                      46577.0|                                              628332.0|               1017.0|                  5295.0|                              14407.0|                                 62577.0|[29817.0,976.0,33...|
|     Lo Barnechea| 61.35646687697161|                                 27202.0|                       2248.0|                                         2608.0|                    2150.0|                                       502.0|                      1338.0|                                        2443.0|                       353.0|                                        4948.0|                      145.0|                                       7122.0|                                              1776268.0|                     320217.0|                                             1456051.0|               6298.0|                  5914.0|                              10176.0|                                 53032.0|[27202.0,2248.0,2...|
|            Maipú| 62.48118269193654|                                158938.0|                       4554.0|                                         8315.0|                    6906.0|                                       751.0|                      1699.0|                                        6702.0|                       216.0|                                        9707.0|                       59.0|                                       4132.0|                                              7051796.0|                    5087456.0|                                             1964340.0|               5043.0|                 19928.0|                              16590.0|                                 78133.0|[158938.0,4554.0,...|
|             Buin| 61.83663283979371|                                 21439.0|                       1152.0|                                          961.0|                    1749.0|                                       311.0|                       528.0|                                        3684.0|                        66.0|                                        2069.0|                       20.0|                                       1453.0|                                               653066.0|                      94211.0|                                              558855.0|               1125.0|                  5387.0|                               3896.0|                                 29739.0|[21439.0,1152.0,9...|
|        Quilicura| 61.85176414870945|                                 51909.0|                       1788.0|                                         3940.0|                    2649.0|                                       321.0|                       814.0|                                        3159.0|                       253.0|                                        6466.0|                      166.0|                                      10201.0|                                               904973.0|                     438936.0|                                              466037.0|               2239.0|                  8624.0|                              18016.0|                                190032.0|[51909.0,1788.0,3...|
|San José De Maipo|53.756994404476416|                                   873.0|                        229.0|                                         1565.0|                     389.0|                                        58.0|                        90.0|                                         353.0|                         7.0|                                         201.0|                        4.0|                                        165.0|                                               182784.0|                      45684.0|                                              137100.0|                223.0|                   974.0|                               1074.0|                                  3195.0|[873.0,229.0,1565...|
|       La Florida|   60.703081232493|                                115763.0|                       3939.0|                                         7449.0|                    5460.0|                                       782.0|                      1336.0|                                        4890.0|                       178.0|                                        6777.0|                       45.0|                                       3735.0|                                              2094127.0|                     146319.0|                                             1947808.0|               4971.0|                 14293.0|                              16988.0|                                 52080.0|[115763.0,3939.0,...|
|    Padre Hurtado|  58.6189683860233|                                 17607.0|                        585.0|                                         1100.0|                    1020.0|                                       231.0|                       276.0|                                        1109.0|                        33.0|                                        1170.0|                        9.0|                                        527.0|                                               520694.0|                       9054.0|                                              511640.0|                543.0|                  2971.0|                                910.0|                                 11351.0|[17607.0,585.0,11...|
|         Vitacura| 61.22916666666666|                                 34864.0|                       3078.0|                                         4783.0|                    2890.0|                                       775.0|                      1775.0|                                        4112.0|                       526.0|                                       11003.0|                      224.0|                                      15372.0|                                              1430192.0|                     295732.0|                                             1134460.0|               7831.0|                  8825.0|                              35931.0|                                175188.0|[34864.0,3078.0,4...|
|        Lo Espejo| 63.52806995311114|                                 13601.0|                        495.0|                                          461.0|                     963.0|                                        52.0|                       248.0|                                         862.0|                        27.0|                                         646.0|                       12.0|                                        629.0|                                               471183.0|                      66197.0|                                              404986.0|                426.0|                  2920.0|                               1195.0|                                  9207.0|[13601.0,495.0,46...|
|      Puente Alto| 62.53512401265571|                                153696.0|                       4301.0|                                        11125.0|                    8369.0|                                       963.0|                      1455.0|                                        6570.0|                       115.0|                                        4954.0|                       31.0|                                       4457.0|                                              4254524.0|                     225458.0|                                             4026394.0|               5334.0|                 19150.0|                               9313.0|                                 58503.0|[153696.0,4301.0,...|
+-----------------+------------------+----------------------------------------+-----------------------------+-----------------------------------------------+--------------------------+--------------------------------------------+----------------------------+----------------------------------------------+----------------------------+----------------------------------------------+---------------------------+---------------------------------------------+-------------------------------------------------------+-----------------------------+------------------------------------------------------+---------------------+------------------------+-------------------------------------+----------------------------------------+--------------------+
only showing top 20 rows

In [ ]:
# Selecting the input and output columns for modeling
finalised_data = output.select('%_of_homeoffice','features')
finalised_data.show()

+------------------+--------------------+
|   %_of_homeoffice|            features|
+------------------+--------------------+
| 61.26060706653665|[123359.0,13507.0...|
|58.401903053464885|[171687.0,15587.0...|
| 59.68975311339305|[5635.0,306.0,804...|
| 59.54130366327281|[52799.0,1410.0,1...|
| 60.14623850444746|[39371.0,2102.0,2...|
| 59.12806539509537|[41276.0,1288.0,1...|
|  61.9877800407332|[22192.0,981.0,19...|
|  59.7819850831899|[61302.0,1827.0,2...|
| 62.19272369714847|[28820.0,1509.0,2...|
|62.821141057052856|[29817.0,976.0,33...|
| 61.35646687697161|[27202.0,2248.0,2...|
| 62.48118269193654|[158938.0,4554.0,...|
| 61.83663283979371|[21439.0,1152.0,9...|
| 61.85176414870945|[51909.0,1788.0,3...|
|53.756994404476416|[873.0,229.0,1565...|
|   60.703081232493|[115763.0,3939.0,...|
|  58.6189683860233|[17607.0,585.0,11...|
| 61.22916666666666|[34864.0,3078.0,4...|
| 63.52806995311114|[13601.0,495.0,46...|
| 62.53512401265571|[153696.0,4301.0,...|
+------------------+--------------------+
only showing top 20 rows

###OLS

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('final.csv')
data = df1.replace(' -', 0)
data3 = data.drop(["Unnamed: 0"], axis=1)
data4 = np.asarray(data3).astype(np.float32)
df = pd.DataFrame(data4, columns = ['Y','a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r'])
df.head()

,Y,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r
0,61.260609,123359.0,13507.0,15727.0,11934.0,2533.0,6200.0,17716.0,2102.0,44293.0,980.0,68487.0,1608421.0,375540.0,1232881.0,32101.0,33332.0,368675.0,651272.0
1,58.401901,171687.0,15587.0,207904.0,16220.0,59506.0,5769.0,26065.0,1449.0,52774.0,424.0,54314.0,3035099.0,420817.0,2614282.0,23551.0,47660.0,367621.0,711310.0
2,59.689754,5635.0,306.0,804.0,491.0,1478.0,121.0,386.0,15.0,593.0,3.0,125.0,227620.0,227620.0,0.0,221.0,1466.0,192.0,5683.0
3,59.541306,52799.0,1410.0,1737.0,2130.0,358.0,595.0,3050.0,118.0,6091.0,43.0,12435.0,1807185.0,68539.0,1738646.0,1640.0,6324.0,10333.0,61895.0
4,60.146240,39371.0,2102.0,2038.0,3161.0,503.0,1095.0,4811.0,353.0,8464.0,99.0,5706.0,602111.0,183891.0,417268.0,2891.0,10288.0,25591.0,52594.0

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
mod = smf.ols('Y ~ a + b + c + d + e + f + g + h + i + j + k + l + m + n + o + p + q + r', data = df).fit()

print(mod.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.138
Model:                            OLS   Adj. R-squared:                 -0.332
Method:                 Least Squares   F-statistic:                    0.2941
Date:                Thu, 01 Dec 2022   Prob (F-statistic):              0.996
Time:                        02:51:03   Log-Likelihood:                -136.04
No. Observations:                  52   AIC:                             310.1
Df Residuals:                      33   BIC:                             347.2
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     60.2216      1.348     44.660      0.000      57.478      62.965
a          -2.053e-05   8.32e-05     -0.247      0.807      -0.000       0.000
b             -0.0122      0.009     -1.305      0.201      -0.031       0.007
c           5.161e-05      0.000      0.184      0.855      -0.001       0.001
d             -0.0154      0.010     -1.593      0.121      -0.035       0.004
e             -0.0003      0.001     -0.316      0.754      -0.002       0.002
f             -0.0350      0.028     -1.243      0.223      -0.092       0.022
g             -0.0002      0.001     -0.145      0.885      -0.003       0.002
h             -0.0297      0.040     -0.746      0.461      -0.111       0.051
i             -0.0002      0.001     -0.263      0.794      -0.002       0.001
j             -0.0426      0.069     -0.618      0.541      -0.183       0.097
k          -7.081e-05      0.000     -0.243      0.810      -0.001       0.001
l              0.0001      0.000      0.434      0.667      -0.000       0.001
m             -0.0001      0.000     -0.441      0.662      -0.001       0.000
n             -0.0001      0.000     -0.434      0.667      -0.001       0.000
o              0.0113      0.007      1.556      0.129      -0.003       0.026
p              0.0096      0.006      1.727      0.094      -0.002       0.021
q           1.789e-06   9.27e-05      0.019      0.985      -0.000       0.000
r           1.215e-05   5.02e-05      0.242      0.810      -9e-05       0.000
==============================================================================
Omnibus:                       18.476   Durbin-Watson:                   2.370
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              128.281
Skew:                           0.055   Prob(JB):                     1.39e-28
Kurtosis:                      10.694   Cond. No.                     4.25e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.25e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

### Linear regression

In [ ]:
#Imports
from pyspark.ml.regression import LinearRegression

In [ ]:
# Splitting the data
train, test = finalised_data.randomSplit([0.8, 0.2])

In [ ]:
# Create Model
lr = LinearRegression(labelCol="%_of_homeoffice", featuresCol="features")

In [ ]:
# create paramGrid
lrparamGrid = (ParamGridBuilder()
             .addGrid(lr.maxIter, [5, 10, 20, 50, 100])
             .build())

In [ ]:
# create evaluator
eval = RegressionEvaluator(labelCol="%_of_homeoffice", predictionCol="prediction", metricName="rmse")

In [ ]:
# Create 5-fold CrossValidator
lrcv = CrossValidator(estimator = lr,
                    estimatorParamMaps = lrparamGrid,
                    evaluator = eval,
                    numFolds = 5)

In [ ]:
# Fit the model
lrModel = lrcv.fit(train)

In [ ]:
# Predict
lr_predictions = lrModel.transform(test)

In [ ]:
lr_predictions.show()

+------------------+--------------------+------------------+
|   %_of_homeoffice|            features|        prediction|
+------------------+--------------------+------------------+
| 56.73789173789174|[34980.0,986.0,40...|61.193383682428795|
|59.055385660890245|[30440.0,1251.0,1...| 63.94597945097816|
| 59.34154175588865|[23731.0,886.0,66...| 60.32789355811679|
| 59.66001628664496|[15156.0,908.0,26...|58.821832941363766|
| 59.92915190664722|[2657.0,378.0,294...| 60.14958698598768|
| 60.14623850444746|[39371.0,2102.0,2...| 61.11575469146424|
|  60.3170755357316|[19190.0,1529.0,1...|  64.2907593896874|
|   60.703081232493|[115763.0,3939.0,...| 67.24554935616229|
| 61.35646687697161|[27202.0,2248.0,2...| 62.63956434633898|
|  61.9877800407332|[22192.0,981.0,19...| 59.70139371717927|
| 62.00632684342693|[69448.0,2798.0,4...|  65.9411354494238|
|62.821141057052856|[29817.0,976.0,33...| 65.20875120005043|
| 62.85784494409633|[23271.0,804.0,11...| 59.66799694766178|
+------------------+--------------------+------------------+

In [ ]:
# EVALUATE


# RMSE
rmse = eval.evaluate(lr_predictions)
print("RMSE: %.3f" % rmse)

#  MSE
mse = eval.evaluate(lr_predictions, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)

# MAE
mae = eval.evaluate(lr_predictions, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

# R2
r2 = eval.evaluate(lr_predictions, {eval.metricName: "r2"})
print("r2: %.3f" %r2)

RMSE: 3.320
MSE: 11.020
MAE: 2.766
r2: -3.097

In [ ]:
# Save model results
result_lr= ['Linear regression', rmse, mse, mae, r2]
modelsResults.append(result_lr)

### Gradient-Boosted Trees (GBTs)

#### Modelo inicial

In [ ]:
# Imports
from pyspark.ml.regression import GBTRegressor

In [ ]:
# Splitting the data
train, test = finalised_data.randomSplit([0.8, 0.2])

In [ ]:
# Create Model
gb = GBTRegressor(labelCol="%_of_homeoffice", featuresCol="features")

In [ ]:
# create paramGrid
gbparamGrid = (ParamGridBuilder()
             .addGrid(gb.maxDepth, [6, 12, 18, 24, 30])
             .addGrid(gb.maxBins, [18, 36, 72, 144, 288])
             .addGrid(gb.maxIter, [5, 10, 20, 50, 100])
             .build())

In [ ]:
# create evaluator
eval = RegressionEvaluator(labelCol="%_of_homeoffice", predictionCol="prediction", metricName="rmse")

In [ ]:
# Create 5-fold CrossValidator
gbcv = CrossValidator(estimator = gb,
                    estimatorParamMaps = gbparamGrid,
                    evaluator = eval,
                    numFolds = 5)

In [ ]:
# Fit the model
gbModel = gbcv.fit(train)

In [ ]:
# Predict
gb_predictions = gbModel.transform(test)

In [ ]:
gb_predictions.show()

+-----------------+--------------------+------------------+
|  %_of_homeoffice|            features|        prediction|
+-----------------+--------------------+------------------+
|59.12806539509537|[41276.0,1288.0,1...|58.891540250559686|
|59.50530035335689|[36837.0,1437.0,4...| 59.24284982347472|
|60.14623850444746|[39371.0,2102.0,2...| 61.58016855514044|
| 60.3170755357316|[19190.0,1529.0,1...| 62.28296658923037|
|60.40983606557377|[24179.0,806.0,34...| 58.64190699153327|
|  60.703081232493|[115763.0,3939.0,...| 62.21875150322616|
|60.91410559495666|[13845.0,557.0,59...| 63.21018020939858|
|61.22916666666666|[34864.0,3078.0,4...| 61.58016855514044|
| 62.7673576834485|[26354.0,736.0,15...| 59.75352656958351|
|62.85784494409633|[23271.0,804.0,11...| 58.35914599345427|
| 63.0410198416778|[20606.0,1290.0,2...| 60.15578686108455|
|73.49726775956285|[411.0,155.0,547....|53.740281708471606|
+-----------------+--------------------+------------------+

In [ ]:
# Evaluate


# RMSE
rmse = eval.evaluate(gb_predictions)
print("RMSE: %.3f" % rmse)

#  MSE
mse = eval.evaluate(gb_predictions, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)

# MAE
mae = eval.evaluate(gb_predictions, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

# R2
r2 = eval.evaluate(gb_predictions, {eval.metricName: "r2"})
print("r2: %.3f" %r2)

RMSE: 6.089
MSE: 37.071
MAE: 3.332
r2: -1.758

In [ ]:
# Save model results
result_gb= ['GBT 1.0', rmse, mse, mae, r2]
modelsResults.append(result_gb)