In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('20210101_RM.csv')

In [ ]:
df['lat'] = df['lat'].astype("string")
df['lon'] = df['lon'].astype("string")
df['coordinates'] = df['lat'] + ',' + df['lon']

In [ ]:
len(df['coordinates'].unique())

1708

In [ ]:
antenas = df['coordinates'].unique()

In [ ]:
type(antenas)

pandas.core.arrays.string_.StringArray

In [ ]:
df_antenas = pd.DataFrame(antenas, columns = ['coordinates'])

In [ ]:
df_antenas

            coordinates
0     -33.3913,-70.6222
1     -33.5208,-70.5438
2     -33.9131,-70.7181
3      -33.5752,-70.661
4     -33.4124,-70.5219
...                 ...
1703  -33.4308,-70.6447
1704  -33.4055,-70.7055
1705  -33.4999,-70.6142
1706   -33.543,-70.7105
1707  -33.4145,-70.5971

[1708 rows x 1 columns]

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="comunas")

df_antenas['direction'] = df_antenas['coordinates'].apply(geolocator.reverse)

In [ ]:
df_antenas['direc'] = df_antenas['direction'].apply(lambda x: x.address)

In [ ]:
comunas = ['Paine', 'Buin', 'Pudahuel', 'Cerro Navia', 'Colina', 'Tiltil', 'Lampa', 
           'Huechuraba', 'Conchalí', 'María Pinto', 'Curacaví', 'La Pintana', 'El Bosque', 
           'Estación Central', 'Pedro Aguirre Cerda', 'Recoleta', 'Independencia', 'Isla de Maipo', 
           'Lo Espejo', 'La Cisterna', 'La Florida', 'Peñalolén', 'Las Condes', 'La Reina', 'Lo Barnechea', 
           'Vitacura', 'Quinta Normal', 'Lo Prado', 'Cerrillos', 'Maipú', 'Macul', 'Ñuñoa', 'Peñaflor', 
           'Padre Hurtado', 'Puente Alto', 'Quilicura', 'Renca', 'Calera de Tango', 'San Bernardo', 'San José de Maipo', 
           'Pirque', 'San Joaquín', 'San Miguel', 'San Ramón', 'La Granja', 'Providencia', 'El Monte', 
           'San Pedro', 'Alhué', 'Talagante', 'Melipilla', 'Santiago']

In [ ]:
def find_comun2(x):
  for comuna in comunas:
    result = x.find(comuna)
    if result != -1:
      return comuna

In [ ]:
df_antenas['comuna'] = df_antenas['direc'].apply(find_comun2)

In [ ]:
df_antenas

,coordinates,direction,direc,comuna
0,"-33.3913,-70.6222","(Palacio Riesco, Ciudad Empresarial, Huechurab...","Palacio Riesco, Ciudad Empresarial, Huechuraba...",Huechuraba
1,"-33.5208,-70.5438","(San Francisco, La Florida, Provincia de Santi...","San Francisco, La Florida, Provincia de Santia...",La Florida
2,"-33.9131,-70.7181","(Caletera 5 Sur, Chita Que Lindo, Mostazal, Pr...","Caletera 5 Sur, Chita Que Lindo, Mostazal, Pro...",None
3,"-33.5752,-70.661","(Nueva Carvajal / San Francisco, Avenida San F...","Nueva Carvajal / San Francisco, Avenida San Fr...",El Bosque
4,"-33.4124,-70.5219","(10963, Atalaya, La Foresta, Las Condes, Provi...","10963, Atalaya, La Foresta, Las Condes, Provin...",Las Condes
...,...,...,...,...
1703,"-33.4308,-70.6447","(408, Asunción, Patronato, Recoleta, Provincia...","408, Asunción, Patronato, Recoleta, Provincia ...",Recoleta
1704,"-33.4055,-70.7055","(Valle del Elqui, 1206, Lautaro, Renca, Provin...","Valle del Elqui, 1206, Lautaro, Renca, Provinc...",Renca
1705,"-33.4999,-70.6142","(Complejo Andrónico Luksic Abaroa, Avenida Vic...","Complejo Andrónico Luksic Abaroa, Avenida Vicu...",Macul
1706,"-33.543,-70.7105","(Empresas SB, 9981, Avenida General Velásquez,...","Empresas SB, 9981, Avenida General Velásquez, ...",San Bernardo
1707,"-33.4145,-70.5971","(Tea Connection, 3185, Isidora Goyenechea, El ...","Tea Connection, 3185, Isidora Goyenechea, El G...",Las Condes

In [ ]:
df_antenas = df_antenas.drop(['direction', 'direc'], axis = 1)

In [ ]:
df_antenas

            coordinates        comuna
0     -33.3913,-70.6222    Huechuraba
1     -33.5208,-70.5438    La Florida
2     -33.9131,-70.7181          None
3      -33.5752,-70.661     El Bosque
4     -33.4124,-70.5219    Las Condes
...                 ...           ...
1703  -33.4308,-70.6447      Recoleta
1704  -33.4055,-70.7055         Renca
1705  -33.4999,-70.6142         Macul
1706   -33.543,-70.7105  San Bernardo
1707  -33.4145,-70.5971    Las Condes

[1708 rows x 2 columns]

In [ ]:
cont = 0
contn = 0
for i in df_antenas['comuna']:
    if i == None:
        cont += 1
        print(contn)
    contn += 1
print(cont)

2
1

In [ ]:
df_antenas[2:3]

         coordinates comuna
2  -33.9131,-70.7181   None

In [ ]:
df_antenas['comuna'][2:3] = 'Paine'

C:\Users\leo20\AppData\Local\Temp\ipykernel_14212\4106414509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antenas['comuna'][2:3] = 'Paine'

In [ ]:
df_antenas[2:3]

         coordinates comuna
2  -33.9131,-70.7181  Paine

In [ ]:
df_antenas.to_csv('antenas.csv', encoding='utf-8')