In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('moving_data.csv')

In [ ]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [ ]:
df2 = df.sort_values(by = ['PHONE_ID', 'timestamp'])

In [ ]:
def dis(lat1, lon1, lat2, lon2):
  R = 6378.137
  dlat = (lat2 * np.pi / 180) - (lat1 * np.pi / 180)
  dlon = (lon2 * np.pi / 180) - (lon1 * np.pi / 180)
  a = (np.sin(dlat / 2) * np.sin(dlat / 2)) + np.cos(lat1 * np.pi / 180) * np.cos(lat2 * np.pi / 180) * (np.sin(dlon / 2) * np.sin(dlon / 2))
  c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
  return R * c

In [ ]:
def tiemp(t1, t2):
  return (t1 - t2) / pd.Timedelta(hours=1)

In [ ]:
def vel(d, t):
  return d / t

In [ ]:
df2['drop'] = 0

In [ ]:
df2.head()

,Unnamed: 0,PHONE_ID,timestamp,bts_id,lat,lon,drop
0,0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0
1,1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,0
2,2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0
3,3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,0
4,4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,0

In [ ]:
index = []
j = 1
for i in range(1, len(df2)):
    if df2['PHONE_ID'][i] == df2['PHONE_ID'][i-1]:
        while df2['drop'][i - j] == 1:
            j = j + 1
        distancia = dis(df2['lat'][i], df2['lon'][i], df2['lat'][i - j], df2['lon'][i - j]) 
        tiempo = tiemp(df2['timestamp'][i], df2['timestamp'][i - j])
        velocidad = vel(distancia, tiempo)
        j = 1
        if velocidad > 150:
            #index.append(i)
            #df2.set_value(i, 'drop', 1)
            #df2 = df2.assign(drop =  1)
            df2["drop"][i] = 1

C:\Users\leo20\AppData\Local\Temp\ipykernel_18888\979869614.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["drop"][i] = 1
C:\Users\leo20\AppData\Local\Temp\ipykernel_18888\1049004936.py:2: RuntimeWarning: invalid value encountered in double_scalars
  return d / t
C:\Users\leo20\AppData\Local\Temp\ipykernel_18888\1049004936.py:2: RuntimeWarning: divide by zero encountered in double_scalars
  return d / t

In [ ]:
df_mask = df2['drop'] == 0

In [ ]:
df_mask.value_counts().values

array([37732985,   313922], dtype=int64)

In [ ]:
df2 = df2[df_mask]

In [ ]:
df2

,Unnamed: 0,PHONE_ID,timestamp,bts_id,lat,lon,drop
0,0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0
1,1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,0
2,2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0
3,3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,0
4,4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,0
...,...,...,...,...,...,...,...
38046902,38046902,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0
38046903,38046903,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0
38046904,38046904,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0
38046905,38046905,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0
38046906,38046906,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,MFAR3,-33.4034,-70.5584,0

In [ ]:
#flag = 0
#while flag == 0:
#  flag = 1
#  df2['dis_trans'] = dis(df2.groupby(['PHONE_ID'])['lat'].shift(1), df2.groupby(['PHONE_ID'])['lon'].shift(1), df2['lat'], df2['lon'])
# df2['tiempo_trans'] = tiempo(df2['timestamp'], df2.groupby(['PHONE_ID'])['timestamp'].shift(1))
#  df2['velocidad'] = vel(df2['dis_trans'], df2['tiempo_trans'])
#  df2['velocidad'] = df2['velocidad'].fillna(-1)
#  df_mask = df2['velocidad'] <= 150
#  if len(df_mask.value_counts().values) > 1:
#    df2 = df2[df_mask]
#    flag = 0

In [ ]:
df2 = df2.reset_index()
df2 = df2.drop(['index'], axis = 1)

In [ ]:
df2 = df2.drop(['Unnamed: 0'], axis = 1)

In [ ]:
df2

,PHONE_ID,timestamp,bts_id,lat,lon,drop
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,0
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,0
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,0
...,...,...,...,...,...,...
37732980,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0
37732981,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0
37732982,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0
37732983,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0
37732984,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,MFAR3,-33.4034,-70.5584,0

In [ ]:
df2.to_csv('loreto_idea_clean.csv', encoding='utf-8')

In [ ]:
df_test = df2.copy()

In [ ]:
df_test

,PHONE_ID,timestamp,bts_id,lat,lon,drop
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:09:15-03:00,ECROF,-33.3844,-70.5534,0
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:16:37-03:00,VTAND,-33.3806,-70.5419,0
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:18:36-03:00,VTAND,-33.3806,-70.5419,0
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:39:15-03:00,MANNE,-33.3994,-70.5699,0
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01 00:48:36-03:00,LCPHU,-33.3972,-70.5499,0
...,...,...,...,...,...,...
37732980,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 21:32:20-03:00,MFAR3,-33.4034,-70.5584,0
37732981,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:02:20-03:00,MFAR3,-33.4034,-70.5584,0
37732982,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 22:32:20-03:00,MFAR3,-33.4034,-70.5584,0
37732983,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:02:20-03:00,MFAR3,-33.4034,-70.5584,0
37732984,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01 23:32:20-03:00,MFAR3,-33.4034,-70.5584,0

In [ ]:
df_test['vel'] = dis(df2.groupby(['PHONE_ID'])['lat'].shift(1), df2.groupby(['PHONE_ID'])['lon'].shift(1), df2['lat'], df2['lon'])

In [ ]:
df_mask2 = df_test['vel'] > 150
df_mask2.value_counts().values

array([37732985], dtype=int64)