In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('20210101_RM.csv')

In [ ]:
def dis(lat1, lon1, lat2, lon2):
  R = 6378.137
  dlat = (lat2 * np.pi / 180) - (lat1 * np.pi / 180)
  dlon = (lon2 * np.pi / 180) - (lon1 * np.pi / 180)
  a = (np.sin(dlat / 2) * np.sin(dlat / 2)) + np.cos(lat1 * np.pi / 180) * np.cos(lat2 * np.pi / 180) * (np.sin(dlon / 2) * np.sin(dlon / 2))
  c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
  return R * c

In [ ]:
df2 = df.sort_values(by = ['PHONE_ID', 'timestamp'])

In [ ]:
df2['dis_trans'] = dis(df2.groupby(['PHONE_ID'])['lat'].shift(1), df2.groupby(['PHONE_ID'])['lon'].shift(1), df2['lat'], df2['lon'])

In [ ]:
df2 = df2.reset_index()
df2 = df2.drop(['index'], axis = 1)

In [ ]:
df2['dis_trans'] = df2['dis_trans'].replace(np.nan, 0)

In [ ]:
acum = 0
yes_id = []
not_id = []
for i in range(len(df2)):
    acum = acum + df2['dis_trans'][i]
    if i == len(df2) - 1:
        if acum == 0:
            not_id.append(df2['PHONE_ID'][i])
        if acum > 0:
            yes_id.append(df2['PHONE_ID'][i])
    else:
        if df2['PHONE_ID'][i] != df2['PHONE_ID'][i + 1]:
            if acum == 0:
                not_id.append(df2['PHONE_ID'][i])
            if acum > 0:
                acum = 0
                yes_id.append(df2['PHONE_ID'][i])

In [ ]:
len(yes_id) + len(not_id)

1353435

In [ ]:
len(df2['PHONE_ID'].unique())

1353435

In [ ]:
df2.set_index('PHONE_ID', inplace=True)

In [ ]:
df2

,timestamp,bts_id,lat,lon,dis_trans
PHONE_ID,,,,,
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534,0.000000
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419,1.149621
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419,0.000000
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699,3.339568
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499,1.874798
...,...,...,...,...,...
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000

In [ ]:
df2 = df2.drop(not_id)

In [ ]:
df2

,timestamp,bts_id,lat,lon,dis_trans
PHONE_ID,,,,,
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534,0.000000
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419,1.149621
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419,0.000000
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699,3.339568
00000000e3fc09803d408609f55cbf905120d3a41db5642a57f9bafd972f8803,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499,1.874798
...,...,...,...,...,...
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
ffffea064367ea293c32db026f6dee34efa6c464375ac9cb6445cdb7d094ea91,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000

In [ ]:
df2 = df2.reset_index()
#df2 = df2.drop(['index'], axis = 1)

In [ ]:
df2

,PHONE_ID,timestamp,bts_id,lat,lon,dis_trans
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534,0.000000
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419,1.149621
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419,0.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699,3.339568
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499,1.874798
...,...,...,...,...,...,...
38046902,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
38046903,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
38046904,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
38046905,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000
38046906,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584,0.000000

In [ ]:
len(df2['PHONE_ID'].unique())

887159

In [ ]:
len(yes_id)

887159

In [ ]:
df2 = df2.drop(['dis_trans'], axis = 1)

In [ ]:
df2

,PHONE_ID,timestamp,bts_id,lat,lon
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:09:15.000-03:00,ECROF,-33.3844,-70.5534
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:16:37.000-03:00,VTAND,-33.3806,-70.5419
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:18:36.000-03:00,VTAND,-33.3806,-70.5419
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:39:15.000-03:00,MANNE,-33.3994,-70.5699
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,2021-01-01T00:48:36.000-03:00,LCPHU,-33.3972,-70.5499
...,...,...,...,...,...
38046902,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T21:32:20.000-03:00,MFAR3,-33.4034,-70.5584
38046903,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:02:20.000-03:00,MFAR3,-33.4034,-70.5584
38046904,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T22:32:20.000-03:00,MFAR3,-33.4034,-70.5584
38046905,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:02:20.000-03:00,MFAR3,-33.4034,-70.5584
38046906,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,2021-01-01T23:32:20.000-03:00,MFAR3,-33.4034,-70.5584

In [ ]:
df2.to_csv('moving_data.csv', encoding='utf-8')