In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")  
!pwd

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/Shareddrives/Cortesanas de IA/Reto/Version 4.0

In [ ]:
%cd "/content/gdrive/Shareddrives/Cortesanas de IA/Reto/Version 4.0"
!ls

/content/gdrive/Shareddrives/Cortesanas de IA/Reto/Version 4.0
'Matriz de viajes Enrique.ipynb'   trazas.csv	     viajes2.ipynb
 matriz_viajes_v2.csv		   Untitled0.ipynb   xd.csv

In [ ]:
import pandas as pd
import numpy as np

#df = pd.read_csv('matriz_viajes_v2.csv')
df = pd.read_csv('trazas.csv')

In [ ]:
df

,Unnamed: 0,PHONE_ID,Coordenada,Hora_entrada,Hora_salida,Comuna,Distancia,Tiempo_en_comuna
0,0,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3844,-70.5534",2021-01-01 00:09:15-03:00,2021-01-01 00:09:15-03:00,Vitacura,0.000000,0.000000
1,1,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3806,-70.5419",2021-01-01 00:16:37-03:00,2021-01-01 00:18:36-03:00,Vitacura,1.149621,0.033056
2,2,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3994,-70.5699",2021-01-01 00:39:15-03:00,2021-01-01 00:39:15-03:00,Las Condes,3.339568,0.000000
3,3,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3972,-70.5499",2021-01-01 00:48:36-03:00,2021-01-01 00:48:36-03:00,Las Condes,1.874798,0.000000
4,4,00000000e3fc09803d408609f55cbf905120d3a41db564...,"-33.3806,-70.5419",2021-01-01 00:58:08-03:00,2021-01-01 00:58:08-03:00,Vitacura,1.991896,0.000000
...,...,...,...,...,...,...,...,...
9350021,9350021,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,"-33.5808,-70.8103",2021-01-01 23:04:01-03:00,2021-01-01 23:48:17-03:00,Padre Hurtado,1.006161,0.737778
9350022,9350022,ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...,"-33.6075,-70.8595",2021-01-01 01:21:44-03:00,2021-01-01 01:21:44-03:00,Peñaflor,0.000000,0.000000
9350023,9350023,ffffa17bcc4a44837795dbee241e641b0bf6e0f0f45408...,"-33.5545,-70.795",2021-01-01 01:44:20-03:00,2021-01-01 22:24:18-03:00,Maipú,8.401840,20.666111
9350024,9350024,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,"-33.4163,-70.5587",2021-01-01 00:14:29-03:00,2021-01-01 01:34:47-03:00,Las Condes,0.000000,1.338333
9350025,9350025,ffffea064367ea293c32db026f6dee34efa6c464375ac9...,"-33.4034,-70.5584",2021-01-01 01:56:27-03:00,2021-01-01 23:32:20-03:00,Las Condes,1.436292,21.598056

In [ ]:
df["Hora_entrada"] = pd.to_datetime(df["Hora_entrada"])
df["Hora_salida"] = pd.to_datetime(df["Hora_salida"])

In [ ]:
mask = df['Hora_salida'] >= df['Hora_entrada']

In [ ]:
mask.value_counts()

True    9350026
Name: Distancia, dtype: int64

In [ ]:
mask = df['Distancia'] >= 0

In [ ]:
def tiemp(t1, t2):
    return (t1 - t2) / pd.Timedelta(hours = 1)

In [ ]:
aux = {
    'PHONE_ID': [],
    'Comuna_Origen': [],
    'Comuna_Destino': [],
    'Hora_Salida': [],
    'Hora_Llegada': [],
    'Distancia': [],
    'Duracion': []
}

primer_registro = 1
dis_acum = 0

for i in range(len(df)):
  if i == len(df) - 1:
    if len(aux['PHONE_ID']) != len(aux['Duracion']):
        aux['Comuna_Destino'].append(df['Comuna'][i])
        aux['Distancia'].append(dis_acum)
        aux['Duracion'].append(tiempo_viaje)
        aux['Hora_Llegada'].append(df['Hora_entrada'][i])

  
  else:
    if df['PHONE_ID'][i] == df['PHONE_ID'][i + 1]:
      if primer_registro == 1:
        aux['PHONE_ID'].append(df['PHONE_ID'][i])
        aux['Comuna_Origen'].append(df['Comuna'][i])
        aux['Hora_Salida'].append(df['Hora_salida'][i])
        hora_temp_inicio = df['Hora_salida'][i]
        primer_registro = 0
        dis_acum = 0

      else:
        dis_acum = dis_acum + df['Distancia'][i]
        tiempo_viaje = tiemp(df['Hora_salida'][i], hora_temp_inicio)

        if df['Tiempo_en_comuna'][i] >= 1/3:
          if tiempo_viaje >= 2:
            if dis_acum >= 25:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

            else:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

          else:
            if dis_acum >= 25:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

            else:
              aux['Comuna_Destino'].append(df['Comuna'][i])
              aux['Distancia'].append(dis_acum)
              aux['Duracion'].append(tiempo_viaje)
              aux['Hora_Llegada'].append(df['Hora_entrada'][i])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]
        
        else:
          if tiempo_viaje >= 2:
            if dis_acum >= 25:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

            else:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

          else:
            if dis_acum >= 25:
              aux['Comuna_Destino'].append(df['Comuna'][i - 1])
              aux['Distancia'].append(dis_acum - df['Distancia'][i])
              aux['Duracion'].append(tiemp(df['Hora_entrada'][i - 1], hora_temp_inicio))
              aux['Hora_Llegada'].append(df['Hora_entrada'][i - 1])
              dis_acum = 0

              aux['PHONE_ID'].append(df['PHONE_ID'][i])
              aux['Comuna_Origen'].append(df['Comuna'][i])
              aux['Hora_Salida'].append(df['Hora_salida'][i])
              hora_temp_inicio = df['Hora_salida'][i]

            else:
              continue

    else:
      if len(aux['PHONE_ID']) != len(aux['Duracion']):
        aux['Comuna_Destino'].append(df['Comuna'][i])
        aux['Distancia'].append(dis_acum)
        aux['Duracion'].append(tiempo_viaje)
        aux['Hora_Llegada'].append(df['Hora_entrada'][i])
      dis_acum = 0
      primer_registro = 1

In [ ]:
len(aux['PHONE_ID'])

3758312

In [ ]:
len(aux['Duracion'])

3758312

In [ ]:
len(df2)

9350026

In [ ]:
osqui = pd.DataFrame.from_dict(aux)

In [ ]:
osqui.describe()

          Distancia      Duracion
count  3.758312e+06  3.758312e+06
mean   3.902924e+00  7.085231e-01
std    5.498937e+00  2.500140e+00
min    0.000000e+00 -2.281778e+01
25%    0.000000e+00  3.344444e-01
50%    1.623878e+00  8.591667e-01
75%    4.932523e+00  1.468611e+00
max    2.499992e+01  2.380500e+01

In [ ]:
mask = osqui['Duracion'] < 2
osqui = osqui[mask]

In [ ]:
mask = osqui['Duracion'] > 0
osqui = osqui[mask]

In [ ]:
mask = osqui['Duracion'] < 0
mask.value_counts()

False    2938489
Name: Duracion, dtype: int64

In [ ]:
osqui.describe()

          Distancia      Duracion
count  2.938489e+06  2.938489e+06
mean   4.991819e+00  9.967051e-01
std    5.765333e+00  5.313542e-01
min    0.000000e+00  1.111111e-03
25%    1.138776e+00  5.036111e-01
50%    2.566055e+00  9.888889e-01
75%    6.550623e+00  1.458333e+00
max    2.499992e+01  1.999722e+00

In [ ]:
mask = osqui['Distancia'] > 0
osqui = osqui[mask]

In [ ]:
osqui.describe()

          Distancia      Duracion
count  2.780578e+06  2.780578e+06
mean   5.275308e+00  9.921713e-01
std    5.799245e+00  5.330863e-01
min    9.282892e-03  1.111111e-03
25%    1.298208e+00  5.000000e-01
50%    2.783250e+00  9.811111e-01
75%    6.958994e+00  1.455833e+00
max    2.499992e+01  1.999722e+00

In [ ]:
osqui

,PHONE_ID,Comuna_Origen,Comuna_Destino,Hora_Salida,Hora_Llegada,Distancia,Duracion
0,00000000e3fc09803d408609f55cbf905120d3a41db564...,Vitacura,Vitacura,2021-01-01 00:09:15-03:00,2021-01-01 01:46:59-03:00,18.498080,1.628889
1,00000000e3fc09803d408609f55cbf905120d3a41db564...,Las Condes,Vitacura,2021-01-01 02:48:36-03:00,2021-01-01 03:18:36-03:00,4.489189,0.500000
2,00000000e3fc09803d408609f55cbf905120d3a41db564...,Vitacura,Vitacura,2021-01-01 09:31:45-03:00,2021-01-01 10:31:45-03:00,6.756354,1.000000
3,00000000e3fc09803d408609f55cbf905120d3a41db564...,Las Condes,Las Condes,2021-01-01 13:21:43-03:00,2021-01-01 13:57:28-03:00,7.842321,0.595833
4,00000000e3fc09803d408609f55cbf905120d3a41db564...,Las Condes,Vitacura,2021-01-01 21:19:06-03:00,2021-01-01 23:19:00-03:00,9.005506,1.748333
...,...,...,...,...,...,...,...
3758304,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,Calera de Tango,Padre Hurtado,2021-01-01 10:21:38-03:00,2021-01-01 11:56:16-03:00,11.844744,1.577222
3758305,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,Calera de Tango,Padre Hurtado,2021-01-01 12:28:39-03:00,2021-01-01 13:43:19-03:00,11.365401,1.244444
3758306,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,Calera de Tango,Calera de Tango,2021-01-01 15:57:02-03:00,2021-01-01 16:27:43-03:00,2.264672,0.511389
3758307,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,Calera de Tango,Padre Hurtado,2021-01-01 18:12:43-03:00,2021-01-01 18:42:43-03:00,1.874491,0.500000
3758308,ffffa01d59b87f412bc0d8f47da668a910192bd61176ab...,Calera de Tango,Padre Hurtado,2021-01-01 21:02:55-03:00,2021-01-01 22:23:36-03:00,6.629634,1.844722

In [ ]:
osqui.to_csv('Matriz')